<a href="https://colab.research.google.com/github/abdullahndm/classifier-process/blob/main/newestiswear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.datasets import load_iris
from sklearn.naive_bayes import GaussianNB

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Latihan/gabungan.csv')

In [6]:
df_c = df.astype('category')

df_c["Nama PTTA"] = df_c["Nama PTTA"].cat.codes
df_c["Posisi Sayap"] = df_c["Posisi Sayap"].cat.codes
df_c["Kemiringan Sayap"] = df_c["Kemiringan Sayap"].cat.codes
df_c["Bentuk Sayap"] = df_c["Bentuk Sayap"].cat.codes
df_c["Arah Sayap"] = df_c["Arah Sayap"].cat.codes
df_c["Jenis Mesin"] = df_c["Jenis Mesin"].cat.codes
df_c["Jumlah Mesin"] = df_c["Jumlah Mesin"].cat.codes
df_c["Posisi Mesin"] = df_c["Posisi Mesin"].cat.codes
df_c["Bentuk Badan"] = df_c["Bentuk Badan"].cat.codes
df_c["Hidung Badan"] = df_c["Hidung Badan"].cat.codes
df_c["Tengah Badan"] = df_c["Tengah Badan"].cat.codes
df_c["Posisi Ekor"] = df_c["Posisi Ekor"].cat.codes
df_c["Jumlah Ekor"] = df_c["Jumlah Ekor"].cat.codes
df_c["Bentuk Ekor"] = df_c["Bentuk Ekor"].cat.codes
df_c["Persenjataan"] = df_c["Persenjataan"].cat.codes
df_c["Warna"] = df_c["Warna"].cat.codes


df_c.head(30)

,Nama PTTA,Posisi Sayap,Kemiringan Sayap,Bentuk Sayap,Arah Sayap,Jenis Mesin,Jumlah Mesin,Posisi Mesin,Bentuk Badan,Hidung Badan,Tengah Badan,Posisi Ekor,Jumlah Ekor,Bentuk Ekor,Persenjataan,Warna
0,0,1,1,0,2,0,1,0,0,1,1,6,3,1,1,1
1,2,1,1,2,2,2,1,0,0,0,1,6,3,1,1,1
2,5,1,1,0,2,0,0,0,0,1,1,6,3,1,1,1
3,6,0,1,2,4,0,1,1,0,1,1,0,3,2,1,1
4,13,1,2,1,0,3,1,0,3,1,0,2,1,3,1,1
5,14,0,2,2,4,3,1,0,1,1,1,0,1,3,1,1
6,12,0,2,2,4,2,1,0,0,0,0,0,1,3,1,1
7,11,1,2,3,2,1,1,0,0,1,1,5,3,3,1,1
8,8,0,2,2,4,0,0,2,0,0,0,0,1,1,1,1
9,9,0,2,2,5,0,0,2,2,0,0,0,3,3,1,1
10,18,0,2,2,5,0,1,0,0,1,0,0,1,2,1,1
11,19,1,1,1,2,3,1,0,3,0,0,3,0,3,1,1
12,20,0,2,2,5,0,1,0,1,1,0,0,1,4,1,1
13,17,1,2,1,0,3,1,0,3,1,0,5,3,5,1,1
14,16,0,1,2,3,0,1,0,1,2,1,2,3,3,1,1
15,22,0,1,1,0,0,0,0,0,1,1,5,3,5,1,1
16,23,0,2,2,5,2,1,0,1,1,0,0,1,2,1,0
17,21,0,0,2,5,0,1,0,0,0,1,3,2,0,1,1
18,3,2,2,0,2,1,0,0,0,1,1,0,1,3,1,1
19,25,2,2,0,2,2,1,0,0,0,1,0,3,3,1,1
20,24,1,2,3,1,3,1,0,3,1,0,5,3,3,0,0
21,26,0,2,2,4,0,0,1,0,0,0,1,1,2,0,1
22,27,2,1,1,0,0,1,0,0,0,0,0,2,4,0,1
23,1,1,2,1,0,0,1,0,0,0,0,4,1,3,0,1
24,4,2,2,2,4,0,1,0,0,1,0,0,1,4,0,1
25,29,1,2,3,1,3,1,0,1,1,0,5,3,4,0,1
26,15,0,2,2,4,0,1,0,1,1,0,1,1,2,0,1
27,28,1,2,1,0,1,1,0,3,1,0,0,2,3,0,1
28,10,1,1,2,4,0,1,0,0,0,0,2,1,3,0,1
29,7,1,1,2,4,0,1,0,0,0,0,2,2,4,0,1

In [7]:
feature_cols = ['Posisi Sayap', 'Kemiringan Sayap','Bentuk Sayap','Arah Sayap','Jenis Mesin','Jumlah Mesin','Posisi Mesin','Bentuk Badan','Hidung Badan','Tengah Badan','Posisi Ekor','Jumlah Ekor','Bentuk Ekor','Warna','Nama PTTA']

In [8]:
X = df_c[feature_cols]
X.shape

(30, 15)

In [9]:
y = df_c.Persenjataan
y.shape

(30,)

In [10]:
# X, y = load_iris(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# might help
# y_pred = gnb.predict(X_test)
# y_pred = y_pred.Nama_PTTA

# gnb.score(y_test, y_pred)

# y_pred = gnb.fit(X_train, y_train).predict(X_test)
# print("Accuracy:",metrics.accuracy_score(y_test,y_pred))
# print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != y_pred).sum()))

In [11]:
from sklearn.preprocessing import StandardScaler  
sc = StandardScaler()  

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from imblearn.pipeline import make_pipeline
from imblearn.base import BaseSampler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import (SMOTE, RandomOverSampler)
from imblearn.combine import SMOTEENN, SMOTETomek

In [ ]:
# from imblearn.over_sampling import SMOTE
# oversampler=SMOTE(kind='regular',k_neighbors=2)
# # sm = SMOTE(random_state=2)
# X_train_res, y_train_res = oversampler.fit_resample(X_train, y_train)

In [ ]:
# y_train_enc = pd.get_dummies(y_train)
# y_train_enc

In [12]:
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [13]:
y_train

28    0
24    0
12    1
0     1
4     1
16    1
5     1
13    1
11    1
22    0
1     1
2     1
25    0
3     1
21    0
26    0
18    1
29    0
20    0
7     1
10    1
14    1
19    1
6     1
Name: Persenjataan, dtype: int8

In [14]:
y_test

27    0
15    1
23    0
17    1
8     1
9     1
Name: Persenjataan, dtype: int8

In [15]:
y_pred = classifier.predict(X_test)
# y_pred = np.argmax(y_pred, axis=-1)

In [ ]:
# y_pred_enc = pd.get_dummies(y_pred)
# y_test_enc = pd.get_dummies(y_test)

# y_pred_value = y_pred_enc.values.argmax(axis=1)
# y_test_value = y_test_enc.values.argmax(axis=1)

# y_pred

In [16]:
accuracy_score(y_test, y_pred)

0.6666666666666666

In [17]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         2
           1       1.00      0.50      0.67         4

    accuracy                           0.67         6
   macro avg       0.75      0.75      0.67         6
weighted avg       0.83      0.67      0.67         6